nav a {
    text-transform: uppercase;
    font-weight: bold;
}

.nav-item {
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0 1em 0 0;
}

.nav-item .active {
    border: 5px;
    border-color: white;
}

.nav-item:hover {
    background: darkslategray;
}

.nav-item a:hover {
    color: goldenrod !important;
}

body {
    background-color: lightgray;
}

main {
    padding-top: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 80%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
    color: white;
    font-size: 120%;
}

.logosRedesSociais {
    margin: 0 auto;
    width: fit-content;
}

.copyright {
    position: absolute;
}